
.html {
    font-family: Arial;
}

.tile_container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.tile {
}

    .tile ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    .tile li {
        display: inline;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    .tile a {
        display: block;
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 10px;
        width: 75%;
        text-align: center;
        text-decoration: none;
        outline: none;
        cursor: pointer;
        font: 14px/100% Arial, Helvetica, sans-serif;
        padding: .5em 2em .55em;
        text-shadow: 0 1px 1px rgba(0,0,0,.3);
        -webkit-border-radius: .5em;
        -moz-border-radius: .5em;
        border-radius: .5em;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        box-shadow: 0 1px 2px rgba(0,0,0,.2);
    }

.orange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top, #faa51a, #f47a20);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}

.green {
    color: #e8f0de;
    border: solid 1px #538312;
    background: #64991e;
    background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
    background: -moz-linear-gradient(top, #7db72f, #4e7d0e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}

.blue {
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top, #00adee, #0078a5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}

.red {
    color: white;
    border: solid 1px #5b0b09;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#df1d18), to(#770f0b));
    background: -moz-linear-gradient(top, #df1d18, #770f0b);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='##df1d18', endColorstr='##770f0b');
}

